# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/*
output.txt
page.dat
buzzdb.dat
buzzdb.log
buzzdb.master
buzzdb.root
buzzdb.pagetable*
pgm.txtGi
pgm.cpp

myenv/*
job_imdb_data/*
imdb_large.txt
refs/*
